<h1>Listing sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Visible</th>
    <th>Content type</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.name %></td>
    <td><%= section.position %></td>
    <td><%= section.visible %></td>
    <td><%= section.content_type %></td>
    <td><%= section.content %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_section_path %>
